
.common-style{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
}

.inputField-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
center{
    line-height: 60px;

}

.dropdowns{
    height: 5vh;
    width: 20vw;
}

center >input{
    margin: 0 20px;
    height: 5vh;
    width: 20vw;
    border: 2px solid gray;
    border-radius: 5px;
}
center > button{
    height: 6vh;
    width: 8vw;
    border-radius: 5px;
    font-weight: bold;
    background-color: indigo;
    color: white;
}

select{
    height: 5vh;
    width: 20vw;
}

.input-boxes-container{
   
    height: 70px;
    padding: 10px;

}

.input-boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
  
}

.input-boxes input{
    margin-right: 30px;
    height: 5vh;
    width: 14vw;
}

.input-boxes button{
    height: 6vh;
    width: 5vw;
    background-color: indigo;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    

}
table{
    
    width: 100%;
    background-color: white;
    padding: 10px;
}

table, th, td {
    border:1px solid black;
    border-collapse: collapse;
  }

  .singleModalContainer{
      position: relative;
  }
  .cancel-form{
      position: absolute;
      padding: 5px;
      right: 0;
   
  }

  

.ParentModal{
    height: 100vh;
    width: 100vw;
    background-color: rgb(247, 238, 238);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.singleModal{
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    height: 50vh;
    width: 50vw;
    
}

.Form-Name, .newlyAddedField{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}

.Form-Name > input{
    height: 3vh;
    margin: 0 20px;
} 

.Form-Name > button{
   padding: 4px 0;
    width: 5vw;

}

.newAddedField > input{
    height: 3vh;
    margin: 0 20px;
} 