
.common-style{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
}

.inputField-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
center{
    line-height: 60px;

}

.dropdowns{
    height: 5vh;
    width: 20vw;
}

center >input{
    margin: 0 20px;
    height: 5vh;
    width: 20vw;
    border: 2px solid gray;
    border-radius: 5px;
}
center > button{
    height: 6vh;
    width: 8vw;
    border-radius: 5px;
    font-weight: bold;
    background-color: indigo;
    color: white;
}

select{
    height: 5vh;
    width: 20vw;
}

.input-boxes-container{
   
    height: 70px;
    padding: 10px;

}

.input-boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
  
}

.input-boxes input{
    margin-right: 30px;
    height: 5vh;
    width: 14vw;
}

.input-boxes button{
    height: 6vh;
    width: 5vw;
    background-color: indigo;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    

}
table{
    
    width: 100%;
    background-color: white;
    padding: 10px;
}

table, th, td {
    border:1px solid black;
    border-collapse: collapse;
  }